main{
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	font-family: auto;
}

#index-con{
	margin: 150px 30px;
	background-color: white;
	height: 50h;
	max-height: 90%;
	padding: 20px 10px;
	font-size: 30px;
}

.index-container{
	margin: 0 auto;
}

/*section{
	height: 50vh;
}*/

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10% auto;
	flex-wrap: wrap;
	min-width: 300px;
}

#descr-con{
	font-size: 30px;
}
a{
	color: #466e9c;
	flex-grow: 2;
	max-width: 200px;
	text-align: center;
	flex-wrap: wrap;

}