<!DOCTYPE html>
<html lang="ru">
<head>
	{% block title %}<title>Ratings</title>{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
	{% block links %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
	{% block navlink %}{% endblock %}
</head>
<body>
	{%block nav%}{% include "nav_bar.html" %}{% endblock %}
	{% block content %}
	<main>
		<section id="index-con">
			<div class="index-container">
				<h1 id="header-phrase">Система построения рейтингов</h1>
				<div class="buttons">
					<div id="button">
						<a href="{{ url_for('signin') }}">Вход</a>
					</div>
					<div id="button">
						<a href="{{ url_for('signup') }}">Регистрация</a>
					</div>
				</div>
			</div>
		</section>
		<section id="descr-con">
			<div class="description-container">
				<h1>Описание</h1>
				
			</div>
			
		</section>
	</main>
	{% endblock %}
	<footer>
		
	</footer>

</body>
</html>