{% extends "index.html" %}

{% block links %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/singup.css') }}">{% endblock %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<main>
<form method="POST" class="login" id="form">
	{{ form.hidden_tag() }}
	<h1>Авторизация</h1>
	<div class="fields">
		<p>
			{{ form.email.label }}
			{{ form.email(class = 'text_field', oninput="if (value.length>120) value = value.slice(0,120)") }}

            {% for error in form.email.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
		</p>
		<p>
			{{ form.password.label }}
			{{ form.password(class = 'text_field', oninput="if (value.length>20) value = value.slice(0,20)") }}
			
			{% for error in form.password.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
		</p>
		<p>{{ form.submit(class = 'btn') }}</p>
	</div>

</form>
</main>
{% endblock %}